TOUR_API_BASE_URL=
TOUR_API_SERVICE_KEY=
TOUR_API_MOBILE_OS=
TOUR_API_MOBILE_APP=
TOUR_API_DEFAULT_NUM_OF_ROWS=

KMA_WEATHER_API_BASE_URL=
KMA_WEATHER_API_ENDPOINT_PATH=
KMA_WEATHER_API_SERVICE_KEY=

WHEELCHAIR_CHARGER_API_BASE_URL=
WHEELCHAIR_CHARGER_API_ENDPOINT_PATH=
WHEELCHAIR_CHARGER_API_SERVICE_KEY=

FESTIVAL_API_BASE_URL=
FESTIVAL_API_ENDPOINT_PATH=
FESTIVAL_API_SERVICE_KEY=
FESTIVAL_API_DEFAULT_PER_PAGE=

API_TIMEOUT_MS=
